@model Mvc.Data.Models.Ocasione

<div class="row">
    <div class="col s12">
        <br />
    <form id="form" class="col s12">
        <input type="hidden" asp-for="Id" />
      <div class="row">
        <div class="input-field col s8">
          <input asp-for="Ocasion" />
          <label asp-for="Ocasion" ></label>
        </div>
      </div>
    </form>
    </div>
  </div>
